@import url("reset.css"); 
@import url("fonte.css");

body {
  color: black;
  background-color: #c1d8a1;
  min-width: 360px;
  max-width: 1920px;
  font-family: 'roboto', Times;
}
header {
  text-align: center;
  border: 3px solid #73AD21;
  background-color:green ;
  padding: 2vh;
  margin: 1vh;
  display: flex;
  flex-direction: row;  
  align-items: center;  
  justify-content: center;  
}
header img {
  max-height: 100px; 
  margin-right: 20px;
}
header h1 {
  color: black;
  font-family: 'roboto', Times;
  font-size: 5vw; 
  min-width: 10vw;
  max-width: 50vw;
  margin: 0 auto;
  line-height: 100px;
} 
@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
    text-align: center;
  }
  header img {
    margin-bottom: 10px;
  }
  header h1 {
    font-size: 3.5vw; 
    line-height: initial;
  }
}
.menu {
  list-style: none;
  padding: 0;
  margin: 1vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1vw;
}
.menu li {
  font-weight: bold;
  text-align: center;
}
.menu li a {
  display: block;
  padding: 10px 20px; 
  color: rgb(0, 0, 0); 
  text-decoration: none; 
  background-color: green; 
  border: 2px solid rgb(0, 0, 0); 
  border-radius: 5px; 
  transition: background-color 0.3s, color 0.3s;
}
.menu li a:hover {
  background-color: darkgreen;
  color: rgb(0, 0, 0); 
}  
footer {
  border: 3px solid #73AD21;
  background-color:green ;  
  padding: 20px;
  text-align: center;
  margin: 1vh;
  margin-top: 4vh;
  width: 100%; 
}

/*Principal*/

.apresentacao {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  gap: 1vw;
  margin: 2vw;
  font-size: 3vw;
  color: darkgreen;
  font-weight: bolder;
}
.apresentacao img{
  height: 70vh;
  width: 50vw;
}
.produtosEmDestaque {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 2vw;
}
.produtosEmDestaque a {
  color: black;
}
.cards-container {
  display: flex;
  justify-content: space-around;
}
.card {
  width: 20%;
  margin: 2.5vw;
  text-align: center;
}
.card img {
  max-width: 100%;
}
.card p {
  font-size: 1.5vw;
  font-weight: bold;
  text-align: center;

}
.quemSomos {
  display: flex;
  max-width: 100%;
  text-align: center;
  font-size: 2vw;
  align-items: center;
  margin: 2vw;
}
.quemSomos a {
  color: black;
}
.quemSomos p {
  font-size: 1.5vw;
}
.quemSomos img{
  height: 70vh;
  width: 50vw;
}
.fotos {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
}
.fotos img{
  height: 45vh;
  width: 45vw;
  object-fit: cover; 
  margin: 2vh;
}

.cliente {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cliente img{
  height: 80vh;
  width: 40vw;
  object-fit: cover; 
  margin: 5vh;
}
.cliente h2{
  margin: 5vh;
  font-size: 3vw;
}
/*Produtos*/
.coluna {
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  list-style-type: none; 
  padding: 2vw;
  text-align: center;
  font-size: 4vw;
}
.categoria {
  font-weight: bold;    
}
.categoriaMenor {
  margin: 2vw;
  padding: 0;
  text-align: center;
  list-style: none;
}
.produto {
  margin-bottom: 2vh;
}
.coluna img {
  display: block;
  height: 25vh;
  width: 25vw;
}
.produto {
font-weight: bold;
font-size: 2.5vw;
}
h6 {
  color: black;
  margin: 1vh;
}
.numpag:hover {
  color: blue;
}
.numpag {
  display: inline; 
}
.num1:hover, .num2:hover, .num3:hover, .num4:hover, .num5:hover {
  color: blue;
}

/*Sobre*/

h2 {
  text-align: center;
  margin-top: 5vh;
}
p {
  text-align: left;
  margin: 2vw;
}
.vendas {
  border-collapse: collapse;
  width: auto;
  margin: 0 auto;
}
.vendas caption {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}
.vendas th, .vendas td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
.vendas th {
  background-color: #f2f2f2;
}
.vendas tfoot {
  font-weight: bold;
}
.vendas tfoot td {
  background-color: #f2f2f2;
}
form {
  margin: 3vw;
  padding: 2vw;
  background-color: #3ab95636;
}
fieldset {
  border: 2px solid green;
  padding: 1vw;
  margin-bottom: 2vw;
}
legend {
  font-weight: bold;
}
label {
  display: block;
  margin-bottom: 5px;
}
input {
  padding: 5px;
  margin-bottom: 5px;
}
input[type="checkbox"] {
  margin-left: 5px;
}
input[type="submit"] {
  padding: 10px;
  background-color: green;
  color: black;
}
input[type="submit"]:hover {
  background-color: darkgreen;
}
