@import url("reset.css"); 
@import url("fonte.css");

body {
  color: black;
  background-color: #c1d8a1;
  min-width: 360px;
  max-width: 1920px;
  font-family: 'roboto', Times;
}
header {
  text-align: center;
  border: 3px solid #73AD21;
  background-color:green ;
  margin: 1vw auto;
  padding: 1vw;
  min-width: 10vw;
  max-width: 50vw;
}
header h1 {
  font-size: auto; 
  font-weight: bold;
} 
.menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  margin: 1vw;
}
.menu li {
  font-weight: bold;
  text-align: center;
}
.menu li a {
  display: block;
  background-color: green; 
  border: 2px solid rgb(0, 0, 0); 
  border-radius: 5px; 
  transition: background-color 0.3s, color 0.3s;
}
.menu li a:hover {
  background-color: darkgreen;
}  
/* -------------------------------------------- */
.flex-container {
  grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
}
.coluna {
  align-items: center; 
  justify-content: center;
  margin: 2vw;
  max-height: 40vh;  
}
.imagem {
  margin: 2vw;
  color: black;
  font-family: 'roboto', Times;
  text-align: center;
}
.texto {
  margin: 2vw;
  color: black;
  font-family: 'roboto', Times;
  text-align: center;  
}
/* -------------------------------------------- */
.card {
max-width: 100px;
max-height: 100px;
}
/* -------------------------------------------- */
.tabela {
  margin: 2vw;
  max-width: 40vw;
}
/* -------------------------------------------- */
.divisor {
  border: 3px solid #73AD21;
  background-color:green ;  
  padding: 2px;
  text-align: center;
  margin: 1vw;
  width: 90%; 
}